@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&family=Readex+Pro:wght@200;300;400;600&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
/* body{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
} */